
<div class="nb">
<h1>ABOUT US</h1>

<div class="abou">

  <h3>OUR TEAM</h3>

  <p class="fon">Second Campus Learning Solutions is a fully residential Training Campus 
    for IT job aspirants run by Group of Software Engineers from reputed MNC’s.
     Our Team worked on following MNC’s , each one having more than 10+ years of experience IBM , 
     INFOSYS , CAPGEMINI , Cognizant , United Health Group , SISL (INDIA) , SIEMENS (USA) ,
      Apollo Health Street, CARE ,IDEA OBJECT, TELSTRA , CA Technologies , Motorola, MACH , Lycos , HP (Hewlett-Packard )</p>

</div>

<div>

  <img class="lec-img" >

</div>

<div class="quo">

  
  <div class="q1">
      <h3>OUR VISION</h3>
  <p>Our vision is to create an environment where candidates actively foster the freedom to productively and enthusiastically pursue and enhance their skill set which would add value to their employers.
    Inspire all individuals at our campus to pursue lifelong learning through a dedication to intellectual
     and personal growth by facilitating a respectful and inclusive environment with regard to 
     individual, societal, and global perspectives.</p>
    </div>

    <div class="q2">
      <h3>OUR MISSION</h3>
      <p>Second Campus Learning Solutions is a student-centered, community-minded, partnership-oriented training campus that offers a full gamut of programs to enhance the educational,
         economic, and cultural environment for candidates who are in quest of IT careers.
          To serve students from diverse backgrounds and offer the highest quality instruction designed to develop critical thinking, creative, quantitative, leadership and communication skills of students. Our faculty, staff, 
          and administrators empower individuals with the freedom to learn, grow, and develop as leaders.</p>

    </div>
</div>
</div>